.dark-theme {
  background-color: var(--dark);
  color: var(--light);
}

.light-theme {
  background-color: var(--light);
  color: var(--dark);
}

.flyout {
  position: fixed;
  bottom: 0;
  width: 200px;
  height: 60px;
  background: black;
  color: white;
}
